---

---

<div id="more" class="marquee no-flick overflow-hidden">
    <div class="marquee-wrap portfolio no-flick">
        <div class="flex flex-row flex-shrink-0 gap-12">
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
        </div>
        <div class="flex flex-row flex-shrink-0 gap-12">
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
        </div>
        <div class="flex flex-row flex-shrink-0 gap-12">
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
            <div class="marquee-content">
                My Portfolio
                <div class="marquee-icon font-awesome-solid text-sm sm:text-xl"></div>
            </div>
        </div>
    </div>
</div>
