---
import Section from "../layout/Section.astro";
import PortfolioTabs from "./PortfolioTabs";
---
<Section heading="works i’m proud of" subtext="portfolio" color="purple" container="section-container-wide">
    <PortfolioTabs client:only="react" />
</Section>