@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Agrandir-Regular';
  src: url('./assets/font/Agrandir-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agrandir-Bold';
  src: url('./assets/font/Agrandir-GrandHeavy.otf') format('truetype');
  font-weight: bold;
}

/* desktop */
@media only screen and (min-width: 1200px) {

  .intro-container {
    width: 45%;
  }

  .image-stack {
    height: 40vh;
    width: 40vh;
  }
}

/* mobile */
@media only screen and (max-width: 1199px) {
  .intro-container {
    width: 80%;
  }

  .image-stack {
    height: 22vh;
    width: 22vh;
  }
}

@media only screen and (max-width: 1199px) and (orientation: portrait) {
  .html {
    overflow-x: hidden !important;
  }
}

body {
  margin: 0;
  font-size: 2vh;
  overflow-x: hidden !important;
  background-size: cover;
  background-image: url("assets/img/background.png");
  background-position: center;
  background-repeat: repeat;
}

body a i {
  color: #000000;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fff;
}

::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #52C3BE;
  border-radius: 1vh;
}

::selection {
  background: #52C3BE;
}

i .intro-icons,
.greenbg {
  background-color: #8AD19C !important;
}

h1,
h2 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 800;
}

h2 {
  color: #251705;
  font-size: larger;
}

footer {
  background-color: #f7e5ff;
  color: #000000;
  text-align: center;
  padding: 2%;
}

footer b {
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  color: #000000;
}

/* ppadding */

.pb1 {
  padding-bottom: 2vh;
}

.py1 {
  padding: 2vh 0vh;
}

.py2 {
  padding: 4vh 0vh;
}

.py3 {
  padding: 6vh 0vh;
}

.background {
  margin: 0;
  background-size: cover;
  background-image: url("assets/img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.background-mobile {
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden;
}

.title {
  font-family: 'Agrandir-Bold' !important;
  font-weight: bold;
  font-size: 4vh;
  margin: 3% 0%;
}

.subtitle {
  font-size: 2.8vh !important;
}

.bodytitle {
  font-family: 'Agrandir-Bold' !important;
  font-weight: bold;
}

.centered {
  align-items: center;
}

.dividertext1 {
  font-family: 'Agrandir-Bold';
  fill: #CAA1E0;
}

.dividertext2 {
  font-family: 'Agrandir-Bold';
  fill: #FDBFD5;
}

.body-container {
  font-size: 2.2vh;
  background-color: #ffffff;
  border-top: 0.4vh solid #000000;
}

.logo {
  width: 15vh;
  margin: auto;
}

.rotate-animation {
  animation: rotation 2s infinite linear;
}

.pulse-animate {
  animation: pulse 2s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}


.preloader-bg {
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: 2;
  background-color: #FBF0E6;
}

.avatar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.round {
  border-radius: 100%;
  border: 3px solid #000000;
}

.intro {
  background-color: #ffffff;
  padding: 3%;
  font-size: 2vh;
  border: 0.3vh solid #000000;
  font-family: 'Agrandir-Regular';
}

.intro-container {
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.intro-nav {
  background-color: #8AD19C;
}

.intro-icons i {
  border: 0.3vh solid #000000;
  background-color: #FDD23B;
  padding: 1% 1.5%;
  margin: 0% .5%;
  font-size: 2.5vh;
  border-radius: 100%;
}

.intro-icons i:hover,
.intro-nav:hover {
  background-color: #ffffff;
}

.gradpic {
  margin: 0;
  background-size: cover;
  background-image: url("assets/img/grad-pic.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 0px 0.3vh #000000;
  -moz-box-shadow: inset 0px 0px 0px 0.3vh #000000;
  box-shadow: inset 0px 0px 0px 0.3vh #000000;
}

.outlined {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.6px;
}

.button {
  font-size: 2vh;
  color: #000000;
  text-decoration: none;
  padding: 1.5% 5%;
  margin: 0% .5%;
  text-align: center;
  border-radius: 1.2vh;
  border: 0.3vh solid #000000;
  font-family: 'Agrandir-Regular';
}

.body-nav {
  background-color: #CAA1E0;
  margin: 2.5% 2%;
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5% 2%;
  text-align: center;
  border: 0.3vh solid #000000;
  font-family: 'Agrandir-Regular';
}

.body-nav:hover {
  background-color: #52C3BE;
}

.body-nav-mobile {
  width: 10vh;
}

.body-nav-web {
  width: 12vw;
}

.body-button {
  background-color: #FDBFD5;
}

.body-button:hover {
  background-color: #FBF0E6;
}

.body-img {
  height: 20%;
}

.flex {
  flex-direction: row;
  display: flex;
}

.image-stack {
  position: relative;
  margin: auto;
}

.image-ontop {
  z-index: 1;
}

.chip {
  padding: 0.4rem 1.2rem !important;
  background-color: #FDD23B;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.6vh;
  border-radius: 20px;
}

.item img {
  transition: 0.5s ease-in-out;
  cursor: pointer !important;
}

.item:hover img:hover {
  opacity: 0.65 !important;
  background-color: #000000;
  filter: grayscale(100%);
  transition: 0.5s ease-in-out;
}

.section {
  position: relative;
  width: 50%;
}

.sectionimage {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

.section:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 2vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.imghover figure img {
  cursor: pointer !important;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.imghover figure:hover img {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.toggle-button {
  position: relative;
  display: inline-block;
  color: #000000;
  margin: 0 20px;
}

.toggle-button label {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
}

.toggle-button input {
  display: none;
}

.toggle-button__icon {
  cursor: pointer;
  pointer-events: none;
}

.toggle-button__icon:before,
.toggle-button__icon:after {
  content: "";
  position: absolute;
  transition: 0.2s ease-out;
}

@media only screen and (max-width: 480px) {
  .toggle-button--valo {
    display: block;
    width: 110px;
    margin: 0 auto 10px auto;
  }
}

.toggle-button--valo label {
  width: 110px;
  height: 20px;
  line-height: 20px;
  transition: all 0.2s;
}

.toggle-button--valo label:before,
.toggle-button--valo label:after {
  position: absolute;
  top: 0;
  left: 30px;
  width: 110px;
  transition: all 0.2s .1s ease-out;
}

.toggle-button--valo label:before {
  content: attr(data-text);
}

.toggle-button--valo input:checked~.toggle-button__icon:after {
  transform: translate(0, 0);
  animation: show .2s;
}

.toggle-button--valo .toggle-button__icon {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.toggle-button--valo .toggle-button__icon:before,
.toggle-button--valo .toggle-button__icon:after {
  border-radius: 50%;
}

.toggle-button--valo .toggle-button__icon:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #52C3BE;
  padding: 2px;
}

.toggle-button--valo .toggle-button__icon:after {
  top: 4px;
  left: 4px;
  width: 60%;
  height: 60%;
  background: #FDD23B;
  animation: hide .2s ease-out;
  transform: translate(0, 200%);
  transition: none;
}

.toggle-button--valo:hover input:not(:checked)~.toggle-button__icon {
  animation: hover .2s;
}

.toggle-button--valo:hover input:not(:checked)~label:before {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

@keyframes hide {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -200%);
  }
}

@keyframes show {
  0% {
    transform: translate(0, 200%);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes hover {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.shape-divider {
  height: 50vh;
  position: relative;
  background-color: #FDBFD5;
}

.shape-divider.shape-divider-bottom svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 15s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 25s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.float {
  margin-bottom: -13vh;
  width: 14vh;
  position: relative;
  z-index: 9 !important;
  z-index: 100;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.calltoaction {
  padding: 13%;
}

.footer-button {
  background-color: transparent;
}

.footer-button:hover {
  background-color: #ffffff;
}